.filtercity {
	gap: 0.5em;
}

.filtercity__title {
	font-size: 1.3em;
	text-align: center;
}

.filtercity__list-item {
	font-size: 1.2em;
	cursor: pointer;
	padding: 0.5em;
	transition: scale 0.5s ease;
	&:hover {
		scale: 1.05;
		background-color: #fa404099;
		color: #fff;
		font-weight: 700;
	}
}
